@import "tailwindcss";
@import "@nuxt/ui";


@theme {
  --font-sans: 'Public Sans', system-ui, sans-serif;
  --font-mono: 'JetBrains Mono', monospace;

	--color-black: #111827;
	--color-white: #F9FAFB;
}

@theme static {
  --color-primary: var(--color-black);
	--color-secondary: var(--color-gray-500);
	--color-success: var(--color-green-600);
	--color-info: var(--color-blue-600);
	--color-warning: var(--color-yellow-600);
	--color-danger: var(--color-red-600);
	--color-neutral: var(--color-gray-600);

	--ui-text: var(--color-black);
	--ui-text-inverted: var(--color-white);
	--ui-bg: var(--color-white);
}

.dark {
	--color-primary: var(--color-white);
	--color-secondary: var(--color-gray-100);
	--color-success: var(--color-green-400);
	--color-info: var(--color-blue-400);
	--color-warning: var(--color-yellow-400);
	--color-danger: var(--color-red-400);
	--color-neutral: var(--color-gray-400);

	--ui-text: var(--color-white);
	--ui-text-inverted: var(--color-gray-800);
	--ui-bg: var(--color-black);
}